$breakpoint-xs: 480px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;
$breakpoint-xl: 1439px;
$breakpoint-xxl: 1800px;

@mixin media($media) {
  @if $media == xs {
    @media (min-width: $breakpoint-xs) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
  @else if $media == xl {
    @media (min-width: $breakpoint-xl) { @content; }
  }
}
