{# Pagination #}
{% if query.count and query.numberOfPages > 1 %}
    {% set firstPage = query.page > 2 ? query.page - 2 : 1 %}
    {% set lastPage = query.numberOfPages >= query.page + 2 ? query.page + 2 : query.numberOfPages %}
    <nav class="pagination">
        {% set routeName = app.request.get('_route') %}
        {% if firstPage > 1 %}
        <div class="pagination__item">
            ...
        </div>
        {% endif %}
        {% for i in range(firstPage, lastPage) %}
            <div class="pagination__item">
                <a class="pagination__item__link{{ query.page == i ? ' is-active' : '' }}"
                   href="{{ path(routeName, app.request.query.all|merge({'page': i})) }}"
                   title="{{ 'Page '|trans ~i }}"
                >
                    {{ i }}
                </a>
            </div>
        {% endfor %}
        {% if lastPage < query.numberOfPages %}
            <div class="pagination__item">
                ...
            </div>
        {% endif %}
    </nav>
{% endif %}