<div class="footer__wrapper">
    <div class="footer__content container-fluid">
        <div class="footer__icons">
            <h4 class="title title--lg title--secondary">Puedes encontrarme en: </h4>
                <ul class="icons__wrapper">
                    <li><a href="{{ user.githubLink }}" target="_blank" title="Cuenta de Github"> {{ icon('github', 32, 'icon_element') }} </a></li>
                    <li><a href="{{ user.hackerRankLink }}" target="_blank" title="Cuenta de Hackerrank"> {{ icon('hackerrank', 32, 'icon_element') }} </a></li>
                    <li><a href="{{ user.instagramLink }}" target="_blank" title="Cuenta de Instagram"> {{ icon('instagram', 32, 'icon_element') }} </a></li>
                    <li><a href="{{ user.linkedinLink }}" target="_blank" title="Cuenta de Linkedin"> {{ icon('linkedin', 32, 'icon_element') }} </a></li>
                    <li><a href="{{ user.whatsappLink }}" title="Enviame un Whatapp"> {{ icon('whatsapp', 32, 'icon_element') }} </a></li>
                    <li><a href="{{ user.codepenLink }}"  target="_blank" title="Cuenta Codepen"> {{ icon('codepen-v3', 32, 'icon_element') }} </a></li>
                    <li><a href="mailto:{{ user.email }}" title="Enviame un Email"> {{ icon('email', 32, 'icon_element') }} </a></li>
                </ul>
            <div class="btn__wrapper">
                <div class="btn--primary">
                    <a href="#">O en la sección de contacto</a>
                    <div class="border__button"></div>
                    <div class="border__button"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom container-fluid">
    <div class="footer-bottom__menu">
        <ul class="menu_footer">
            <li class="menu-item">
                <a href="#">Política de Cookies</a>
            </li>
            <li class="menu-item">
                <a href="#">Política de Privacidad</a>
            </li>
            <li class="menu-item">
                <a href="#">Aviso legal</a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom__menu ">
        <ul class="menu_footer footer-bottom__menu--end">
            <li class="menu-item">
                @developer by Oscar Sanchez
            </li>
        </ul>
    </div>
</div>