<div class="menu">
    <div class="menu__wrapper">
        <ul class="menu__list">
            <li class="menu__list__item">
                <a href="" class="menu__list__link" data-content="Blog">
              Blog
                </a>
            </li>
            <li class="menu__list__item">
                <a href="" class="menu__list__link" data-content="About">About</a>
            </li>
            <li class="menu__list__item">
                <a href="" class="menu__list__link" data-content="Contact">Contact</a>
            </li>
            <li class="menu__list__item">
                <a href="" class="menu__list__link"  data-content="Projects">Projects</a>
            </li>
            <li class="menu__list__item">
                <a href="" class="menu__list__link"  data-content="Skills">Skills</a>
            </li>
            <li class="menu__icons--menu">
                <h4 class="title title--lg title--secondary">Puedes encontrarme en: </h4>
                <ul class="icons__wrapper--menu">
                    <li><a href="{{ user.githubLink }}" target="_blank" title="Cuenta de Github"> {{ icon('github', 32, 'icon_element') }} </a></li>
                    <li><a href="{{ user.hackerRankLink }}" target="_blank" title="Cuenta de Hackerrank"> {{ icon('hackerrank', 32, 'icon_element') }} </a></li>
                    <li><a href="{{ user.instagramLink }}" target="_blank" title="Cuenta de Instagram"> {{ icon('instagram', 32, 'icon_element') }} </a></li>
                    <li><a href="{{ user.linkedinLink }}" target="_blank" title="Cuenta de Linkedin"> {{ icon('linkedin', 32, 'icon_element') }} </a></li>
                    <li><a href="{{ user.whatsappLink }}" title="Enviame un Whatapp"> {{ icon('whatsapp', 32, 'icon_element') }} </a></li>
                    <li><a href="{{ user.codepenLink }}"  target="_blank" title="Cuenta Codepen"> {{ icon('codepen-v3', 32, 'icon_element') }} </a></li>
                    <li><a href="mailto:{{ user.email }}" title="Enviame un Email"> {{ icon('email', 32, 'icon_element') }} </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>