<div class="page__header">
    <div class="navbar">
        <div class="item">
            <a href="{{ path('home') }}"> <img src="logotest.png" alt=""></a>
        </div>
        <div class="item--visible">
            <div class="js-menu menu-button">
                <div class="menu-button__bar"></div>
                <div class="menu-button__bar"></div>
                <div class="menu-button__bar"></div>
            </div>
        </div>
    </div>
</div>