{% extends 'admin/admin.base.html.twig' %}

{% block title %}
    Actualizar Usuario
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-8">
            <div class="admin-card">
                <div class="card-header card-header-primary">
                    <h4 class="cart-title">
                        {{ 'modify.user'| trans }}
                    </h4>
                </div>
                    <div class="card-body">
                        {% include 'admin/user/_form/update.html.twig' %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}