{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="form__inputs">
    {{ form_row(form.type) }}
</div>
<div class="form__inputs">
    {{ form_row(form.name) }}
</div>
<div class="form__inputs">
    {{ form_row(form.shortDescription) }}
</div>
<div class="">
    {{ form_row(form.description) }}
</div>
<div class="form__inputs">
    {{ form_row(form.url) }}
</div>
<div class="form__inputs">
    {{ form_row(form.logo) }}
</div>

<div class="form__inputs">
    {{ form_row(form.date) }}
</div>

<div class="form__inputs">
    {{ form_row(form.imageFull) }}
</div>
<div class="form__inputs">
    {{ form_row(form.imageList) }}
</div>

<div class="form__inputs">
    {{ form_row(form.imageListPhone) }}
</div>

<div class="form__inputs">
    {{ form_row(form.skills) }}
</div>

<div class="form__inputs">
    {{ form_row(form.file) }}
</div>

<div class="form__inputs">
    {{ form_row(form.buttonFileText) }}
</div>

<div class="form__inputs">
    {{ form_row(form.images) }}
</div>
<div class="form__inputs">
    {{ form_row(form.featured) }}
</div>


<div class="form__button">
    <input class="btn-primary" type="submit" value="{{ 'form.update.project.submit'|trans }}">
</div>
{{ form_end(form) }}