{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="form__inputs">
    {{ form_row(form.company) }}
</div>
<div class="form__inputs">
    {{ form_row(form.image) }}
</div>
<div class="form__inputs">
    {{ form_row(form.initDate) }}
</div>
<div class="form__inputs">
    {{ form_row(form.endDate) }}
</div>
<div class="form__inputs">
    {{ form_row(form.jobPosition) }}
</div>

<div class="">
    {{ form_row(form.jobDescription) }}
</div>

<div class="form__button">
    <input class="btn-primary" type="submit" value="{{ 'form.update.experience.submit'|trans }}">
</div>
{{ form_end(form) }}