{% extends 'admin/admin.base.html.twig' %}

{% block title %} skill.category.list!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
         <div class="col-md-8">
            <div class="admin-card">
                <div class="card-header card-header-primary">
                    <h4 class="cart-title">
                        {{ 'list.skilcategory'| trans }}
                    </h4>
                </div>

                <div class="card-body">
                    <div class="admin-table">
                        <table>
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        {{ 'name'|trans }}
                                    </th>
                                    <th>
                                        {{ 'icon'|trans }}
                                    </th>
                                    <th>
                                        {{ 'actions'|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for skillCategory in skillCategories %}
                                    <tr class="skill_category-list__item">
                                        <td class="skill-list__title">
                                            {{ skillCategory.name }}
                                        </td>
                                        <td class="skill_category-list__icon">
                                            {{ skillCategory.icon|raw }}
                                        </td>
                                        <td class="skill_category-list__actions">
                                            <span class="js-open-modal open-modal__button"
                                                  data-src="{{ path('skill_category_delete',{'id': skillCategory.id}) }}"
                                                  data-title="{{ 'skill.category.modal.title'|trans }}"
                                                  data-description="{{ 'skill.category.modal.text'|trans }}">
                                                {{ icon('trash', 25, 'default-table__icon') }}
                                            </span>

                                            <a href="{{ path('skill_category_update',{'id': skillCategory.id}) }}">
                                                {{ icon('edit', 25, 'default-table__icon') }}
                                            </a>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'genera.actions'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        <ul class="actions_list">
                            <li><a  href="{{ path('skill_category_create')}}" title="{{ 'skill.category.add'|trans}}">{{ icon('add', 25, 'default-table__icon') }} {{ 'skill.category.add'|trans}} </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}