{% extends 'admin/admin.base.html.twig' %}

{% block title %} skill.category.create!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'create.skilcategory'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        {% include 'admin/skill/category/_form/create.html.twig' %}
                    </div>
                </div>
            </div>
            {% if icon %}
            <div class="col-md-4">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'skilcategory.con'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="skill__icon">
                            {{ icon|raw }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}