{% extends 'admin/admin.base.html.twig' %}

{% block title %} experience.list!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'list.experience'| trans }}
                        </h4>
                    </div>

                    <div class="card-body">
                        <div class="admin-table">
                            <table>
                                <thead class=" text-primary">
                                <tr>
                                    <th>
                                        {{ 'title'|trans }}
                                    </th>
                                    <th>
                                        {{ 'subitlte'|trans }}
                                    </th>
                                    <th>
                                        {{ 'actions'|trans }}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for blogCategory in blogCategories %}
                                    <tr class="skill_category-list__item">
                                        <td class="skill-list__title">
                                            {{ blogCategory.title }}
                                        </td>
                                        <td class="skill_category-list__icon">
                                            {{ blogCategory.subtitle }}
                                        </td>
                                        <td class="skill_category-list__actions">
                                            <span class="js-open-modal open-modal__button"
                                                  data-src="{{ path('blog_category_delete',{'id': blogCategory.id}) }}"
                                                  data-title="{{ 'blog.category.delete.modal.title'|trans }}"
                                                  data-description="{{ 'experience.modal.text'|trans }}">
                                                {{ icon('trash', 25, 'default-table__icon') }}
                                            </span>
                                            <a href="{{ path('blog_category_update',{'id': blogCategory.id}) }}">
                                                {{ icon('edit', 25, 'default-table__icon') }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'genera.actions'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        <ul class="actions_list">
                            <li><a  href="{{ path('blog_category_create')}}" title="{{ 'blog.category.add'|trans}}">{{ icon('add', 25, 'default-table__icon') }} {{ 'blog.category.add'|trans}} </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}