{% extends 'admin/admin.base.html.twig' %}

{% block title %} experience.list!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
         <div class="col-md-8">
            <div class="admin-card">
                <div class="card-header card-header-primary">
                    <h4 class="cart-title">
                        {{ 'list.slider_home'| trans }}
                    </h4>
                </div>

                <div class="card-body">
                    <div class="admin-table">
                        <table>
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        {{ 'title'|trans }}
                                    </th>
                                    <th>
                                        {{ 'subitle'|trans }}
                                    </th>
                                    <th>
                                        {{ 'position'|trans }}
                                    </th>
                                    <th>
                                        {{ 'actions'|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="slider_home_list" data-href="{{ path('slider_home_change_position') }}">
                                {% for slider in sliders %}
                                    <tr class="image-list__item" data-id="{{ slider.id }}">
                                        <td class="skill-list__title">
                                            {{ slider.title }}
                                        </td>
                                        <td class="skill_category-list__icon">
                                            {{ slider.subtitle }}
                                        </td>
                                        <td class="skill_category-list__icon js-slider-home-position">
                                            {{ slider.position }}
                                        </td>
                                        <td class="skill_category-list__actions">
                                            <span class="js-open-modal open-modal__button"
                                                  data-src="{{ path('slider_home_delete',{'id': slider.id}) }}"
                                                  data-title="{{ 'slider_home.modal.title'|trans }}"
                                                  data-description="{{ 'slider_home.modal.text'|trans }}">
                                                {{ icon('trash', 25, 'default-table__icon') }}
                                            </span>
                                            <a href="{{ path('slider_home_update',{'id': slider.id}) }}">
                                                {{ icon('edit', 25, 'default-table__icon') }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'genera.actions'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        <ul class="actions_list">
                            <li><a  href="{{ path('slider_home_create')}}" title="{{ 'slider_home.add'|trans}}">{{ icon('add', 25, 'default-table__icon') }} {{ 'slider_home.add'|trans}} </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}