{% extends 'admin/admin.base.html.twig' %}

{% block title %} experience.update!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'create.skilcategory'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        {% include 'admin/slider_home/_form/update.html.twig' %}
                    </div>
                </div>
            </div>
            {% if image %}
            <div class="col-md-4">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'experience.image'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="skill__icon">
                            <img src="{{ image }}" alt="" width="250px">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if imagePhone %}
                <div class="col-md-4">
                    <div class="admin-card">
                        <div class="card-header card-header-primary">
                            <h4 class="cart-title">
                                {{ 'slider_home.imagePhone'| trans }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="skill__icon">
                                <img src="{{ imagePhone }}" alt="" width="250px">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}