{% extends 'base.html.twig' %}


{% block title %} OSCAR SOFTWARE DEVELOPER{% endblock %}
{% block metaDescription %} Ingeniero Multimedia Alicante {% endblock %}

{% block slider %}
    {% include '_partials/slider/slider_video.html.twig' with {'slider': slider }  %}
{% endblock %}

{% block body %}
    <div class="skills_slider__wrapper">
        <div class="js-slider_skills">
            {% for skill in skillsFeatured %}
            <div class="skill_slider__item">
                <img class="skill_slider__img" src="{{ skill.image }}" alt="{{ skill.name }}">
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="last-post__wrapper triangle__end triangle__end__overflow container-fluid">
        <div class="title__wrapper">
            <h2 class="title">{{ 'home.last.post' |trans }}
            </h2>
        </div>
        <div class="last-post__items">
            {% for post in posts %}
                {% include '_partials/miniatures/blog-home.html.twig' with {'post': post }  %}
            {% endfor %}

        </div>
        <div class="btn__wrapper">
            <div class="btn--primary">
                <a>{{ 'home.go.to.blog' |trans }}</a>
                <div class="border__button"></div>
                <div class="border__button"></div>
            </div>
        </div>
    </div>

    <div class="logo-home__wrapper triangle__end triangle__end--button triangle__end--tiny triangle__end__overflow" style="">
        <img class="img__shadow img-responsive" src="/uploads/logo.png" alt="">
    </div>
    <div class="container-fluid triangle__end">
        <div class="title__wrapper">
            <h2 class="title">Proyectos destacados
            </h2>
        </div>
        
        <div class="wrapper__projects container-fluid js-projects-featured">
            {% for project in projects %}
                {% include '_partials/miniatures/project-home.html.twig' with {'project': project }  %}
            {% endfor %}
        </div>
    </div>

    <div class="logos-home container">
        <div class="last-post__item">
            <img class="img__shadow img-responsive" src="/uploads/logo.png" alt="" width="200px:">
        </div>
        <div class="last-post__item">
            <img class="img__shadow img-responsive" src="/uploads/logo.png" alt="" width="200px;">
        </div>
        <div class="last-post__item">
            <img class="img__shadow img-responsive" src="/uploads/logo.png" alt="" width="200px;">
        </div>
    </div>
    <div class="container-fluid triangle__end triangle__end--button triangle__end--tiny triangle__end__overflow" style="">
        <div class="personal-home">
            <div class="personal-home__img">
                <img class="img__shadow img-responsive" src="https://www.bitmarketing.es/wp/wp-content/uploads/2017/06/objetos-oscar.jpg" alt="">
            </div>
            <div class="personal-home__text">
                <div class="personal-home__text-wrapper">
                    <h3 class="title title--lg">
                        Ingeniero Multimedia
                    </h3>
                    <div class="personal-home__content">
                        {{ user.history|raw }}
                    </div>
                    <div class="btn__wrapper--left">
                        <div class="btn--primary btn--secondary">
                            <a>Ver perfil completo</a>
                            <div class="border__button"></div>
                            <div class="border__button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}