{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="form__inputs">
    {{ form_row(form.title) }}
</div>
<div class="form__inputs">
    {{ form_row(form.subtitle) }}
</div>
<div class="form__inputs">
    {{ form_row(form.image) }}
</div>
<div class="form__inputs">
    {{ form_row(form.imagePhone) }}
</div>
<div class="form__inputs">
    {{ form_row(form.link) }}
</div>

<div class="form__inputs">
    {{ form_row(form.buttonText) }}
</div>
<div class="form__inputs">
    {{ form_row(form.videoYoutubeLink) }}
</div>

<div class="form__button">
    <input class="btn-primary" type="submit" value="{{ 'form.create.slider_home.submit'|trans }}">
</div>
{{ form_end(form) }}