/* ==========================================================================
   ##BASIS
   ======================================================================= */

html {
  font-size: 100%;
}


body {
  font-family: ff(base);
  font-size: $base-font-size;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  
  color: color-theme(copy);
}






/* ==========================================================================
   ##HEADINGS
   ======================================================================= */

h1, h2, h3, h4, h5, h6{
  font-weight: fw(bold);
}





/* ==========================================================================
   ##LINKS
   ======================================================================= */

a {
  color: inherit;
  text-decoration: none;
}





/* ==========================================================================
   ##PARAGRAPHS
   ======================================================================= */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
