<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="/build/admin.css">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{{ include('admin/_partials/flash_messages.html.twig') }}
    <div class="wrapper">
        {{ include('admin/_partials/sidebar.html.twig') }}

        <div class="main-panel">
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="top-bar__wrapper">
                        <div class="top-bar__name">
                            <h1>{% block pageName %}
                                    Inicio
                                {% endblock %}</h1>
                        </div>
                        <div class="top-bar_profile__wrapper">
                            <a href="{{ path('user_update',{'id': app.user.user.id}) }}" title="{{ app.user.username }}" ><img src="{{ app.user.user.avatar }}"></a>
                        </div>
                        <div class="top-bar__toggle">
                            <button id="js-open-menu" class="menu__button ">
                                <span class="js-menu-icon-open">{{ icon('menu', 32, 'default-table__icon') }}</span>
                                <span class="js-menu-icon-close hide">{{ icon('cross', 32, 'default-table__icon') }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="admin-container">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

{{ include('admin/_partials/modal.html.twig') }}

</body>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/admin.js') }}"></script>
{% endblock %}

</html>
