{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="form__inputs">
    {{ form_row(form.name) }}
</div>
<div class="form__inputs">
    {{ form_row(form.icon) }}
</div>

<div class="form__button">
    <input class="btn-primary" type="submit" value="{{ 'form.create.skill.category.submit'|trans }}">
</div>
{{ form_end(form) }}