{% extends 'admin/admin.base.html.twig' %}

{% block title %} experience.create!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-8">
            <div class="admin-card">
                <div class="card-header card-header-primary">
                    <h4 class="cart-title">
                        {{ 'create.experience'| trans }}
                    </h4>
                </div>
                <div class="card-body">
                    {% include 'admin/experience/_form/create.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}