{% extends 'admin/admin.base.html.twig' %}

{% block title %} experience.list!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
         <div class="col-md-8">
            <div class="admin-card">
                <div class="card-header card-header-primary">
                    <h4 class="cart-title">
                        {{ 'list.experience'| trans }}
                    </h4>
                </div>

                <div class="card-body">
                    <div class="admin-table">
                        <table>
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        {{ 'company'|trans }}
                                    </th>
                                    <th>
                                        {{ 'job.position'|trans }}
                                    </th>
                                    <th>
                                        {{ 'experience.initDate'|trans }}
                                    </th>
                                    <th>
                                        {{ 'experience.endtDate'|trans }}
                                    </th>
                                    <th>
                                        {{ 'experience.duration'|trans }}
                                    </th>
                                    <th>
                                        {{ 'actions'|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for experience in experiences %}
                                    <tr class="skill_category-list__item">
                                        <td class="skill-list__title">
                                            {{ experience.company }}
                                        </td>
                                        <td class="skill_category-list__icon">
                                            {{ experience.jobPosition }}
                                        </td>
                                        <td class="skill_category-list__icon">
                                            {{ experience.initDateFormat }}
                                        </td>
                                        <td class="skill_category-list__icon">
                                            {{ experience.endDateFormat }}
                                        </td>
                                        <td class="skill_category-list__icon">
                                            {{ experience.duration }}
                                        </td>
                                        <td class="skill_category-list__actions">
                                            <span class="js-open-modal open-modal__button"
                                                  data-src="{{ path('experience_delete',{'id': experience.id}) }}"
                                                  data-title="{{ 'experience.modal.title'|trans }}"
                                                  data-description="{{ 'experience.modal.text'|trans }}">
                                                {{ icon('trash', 25, 'default-table__icon') }}
                                            </span>
                                            <a href="{{ path('experience_update',{'id': experience.id}) }}">
                                                {{ icon('edit', 25, 'default-table__icon') }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'genera.actions'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        <ul class="actions_list">
                            <li><a  href="{{ path('experience_create')}}" title="{{ 'experience.add'|trans}}">{{ icon('add', 25, 'default-table__icon') }} {{ 'experience.add'|trans}} </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}