.footer__wrapper {
  background: c-black();
  margin-top: -4rem;
}

.footer__content {
  margin-top: 4rem;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    margin: space(def);
  }
}


.footer-bottom {
  grid-column: 1/5;
  padding: space(lg);
  background: c-black();

  border-top: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  font-size: fz(sl);
  letter-spacing: fz(xxs);
  text-align: center;

  @include media(md){
    grid-column: 1/9;
    flex-direction: row;
    padding: 1rem 2rem 0;
    align-items: center;
  }

  @include media(xl){
    grid-column: 1/13;
  }
}

.footer-bottom__menu {
  flex: 1 0 100%;
  margin-bottom: 1rem;

  @include media(md){
    flex: 1 0 auto;
    margin: 0;
    text-transform: uppercase;
  }

}

.menu_footer {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;



  .menu-item{

    flex: 0 0 50%;

    padding: space(def);
    font-size: fz(def);
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    color: c-gray(light);
    border: 0;

    a{
      display: block;
      margin: 0 auto;
    }

  }

  @include media-breakpoint-up(md){
    justify-content: flex-start;

    .menu-item{

      flex: 0 0 auto;
      border-left: solid 1px c-gray(light);
      padding: 0 0.5rem;

      &:first-child { border: 0; }
    }
  }

  @include media(lg){ padding: 0 1rem; }

  @include media(xl){

    padding: 0 2rem;

    .menu-item{ padding: 0 1rem; }

  }

}


.footer__developed {
  flex: 0 0 100%;


  padding-top: 1rem;
  border-top: solid 1px c-gray(lightest);

  @include media(md){

    flex: 0 0 auto;
    padding-top: 0;
    text-align: right;
    border: 0;

  }
}

.page-footer-bottom__author__link {
  color: color-theme(primary,base);
}

.footer-bottom__menu--end {
  @include media(md){
    justify-content: flex-end;
  }
}