.last-post__wrapper {
margin-top: space(md);
position: relative;
}


.last-post__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-gap: space(def);
  justify-items: center;
}


.last-post__item {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 500px;
  position: relative;
}

.title__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: space(md);
}

.title__post {
  min-height: 72px;
}

.last-post__category {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75px 0 75px 150px;
  border-color: transparent transparent transparent color-theme(primary, base);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;

  img{
    position: absolute;
    left: -8rem;
    top: -1.5rem;
  }
}

.logo-home__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: space(def);
  padding: space(def);
}

.data-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.logos-home {
  @extend .last-post__items;
  margin-top: 6rem;
}

.personal-home {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
  flex-direction: column-reverse;


  @include media(lg) {
    flex-direction: row;
  }
}

.personal-home__img {

  @include media(lg){
    width: 60%;

  }
}

.personal-home__text {

  @include media(lg) {
    width: 50%;
  }

  margin-bottom: space(md);
}

.personal-home__content {
  font-size: fz(md);
  margin-top: 4rem;
  color: color-theme(secondary,base);
  b {
    text-transform: uppercase;
  }
}

.post-item {
  flex: 1 0 100%;
  max-width: 100%;
  display: flex;
  padding: space(md);
  margin-bottom: space(md);

  @include media(md){
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.sidebar__list {
  background: #1f292e;
  color: c-white();
  padding-left: space(def);
  padding-top: space(xs);
  padding-bottom: space(xs);
  list-style: none;

  li:before {
    content: "";
    border-color: transparent #ee2d4d;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.1em;
    position: relative;
  }
}

.pagination {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: fz(md);
  color: c-white();
  margin-bottom: 4rem;
}

.pagination__item {
  padding: 0.5rem;

}

.pagination__item__link.is-active {
    color: color-theme(primary,base);
}