
.menu {
  margin: 0;
  right: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: c-black();
  z-index:99999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes open-menu {
  from {

    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.open-menu {
  animation: open-menu 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes close-menu {
  from {
    margin-top:0;
    height: 100vh;
    width: 100%;
    opacity: 1;
  }

  50% {
    margin-top: 37px;
    height: 6px;
    width: 100%;
    opacity: 0.3;
  }

  to {
    margin-top: 37px;
    height: 6px;
    width: 2px;
    opacity: 0.3;
  }
}

.close-menu {
  animation: close-menu 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}




.menu-navigation {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.is-open-menu {
  overflow: hidden;

}

.is-open-menu .navbar .item {
  visibility: hidden;
  opacity: 0;
}

.is-open-menu .menu__list {
  animation: showNavigation .9s ease forwards;
  visibility: visible;
}

.menu__wrapper {

  text-align: center;
  @include media-breakpoint-up(lg) {
    margin-left: 60%;
    text-align: left;
  }

  padding: space(md);

  @include media(md) {
    padding-top: 6.875rem;
  }

}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0 0 1.625rem;
  transition: opacity .3s ease-in;
  visibility: hidden;
  opacity: 0;

}






@keyframes showNavigation {
  0% {
    transform: translate3d(0, -40px, 0);
    opacity: 0
  }
  to {
    transform: translateZ(0);
    opacity: 1
  }
}

.menu__list__item {
  padding: 0;
  margin: 0;

}
.menu__list__link {
  font-family: ff(display);
  font-weight: 700;
  font-size: fz(lg);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 1.7777;
  transition: color .3s;
  position: relative;
  overflow: hidden;
  display: inline-block;
  &::before {
    position: absolute;
    content: attr(data-content);
    top: 0;
    left: 0;
    width: 0;
    // height: 0;
    color: color-theme(primary,base);
    white-space: nowrap;
    overflow: hidden;
    transition: width 1s ease;
  }
  &:hover::before {
    width: 100%;
    // height: 100%;
  }

  @include media(md) {
    font-size: 3rem;
  }
}

.menu__list__link:hover {
  color: #fff;

}

.menu_list__layer {
  position: absolute;
  left: 0;
  overflow: hidden;
  background-color: #111517;
  width: 100%;
  display: block;
  transform: translate3d(-100%,0,0);
  animation: anim-in-layer .3s ease forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


@keyframes anim-out-layer {
  0% {
    transform: translateZ(0)
  }
  to {
    transform: translate3d(100%, 0, 0)
  }
}


@keyframes anim-in-layer {
  0% {
    transform: translate3d(-100%, 0, 0)
  }
  to {
    transform: translateZ(0)
  }
}

.menu__list__link:hover .menu__list__layer {
  animation: anim-in-layer .3s ease forwards;
}


.menu__list__link .menu__list__layer:before {

  background-color: #111517;
  content: attr(data-text);
  width: 100%;
  display: block;
  transform: translate3d(100%,0,0);
  color: color-theme(primary,base);
  animation: anim-in-text .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.icons__wrapper--menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media(md){
    justify-content: flex-start;
  }

  li {
    margin-right: space(md);
    margin-top: 0.5rem;
  }
}

.menu__icons--menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}



//.icon_element {
//  transition: all 0.5s ease;
//    &:hover, &:active, &:focus {
//      fill: color-theme(primary,base);
//      transition: all 0.5s ease;
//    }
//}