.page-header {
  position: relative;
}

.navbar{
  display:flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  color:white;
  padding: space(def);
  z-index: 9999999;
  /**fix temporal codepen grid **/
}


.menu-button {
  width: 30px;
  height: 20px;
  transition: all 0.5s;
  z-index: 10;
  cursor: pointer;
}

.menu-button.open-close .button-bar {
  transition: all 0.3s;
  transition-delay: 0.4s;
}

.menu-button__bar {
  height: 3px;
  background: white;
  transition: all 0.5s;
  transition-delay: 0.5s;
}

.menu-button__bar:nth-of-type(2) {
  margin: 9px 0;
}

.menu-button.open-close .menu-button__bar:nth-of-type(1) {
  transform: translateY(15px) rotate(45deg);
}

.menu-button.open-close .menu-button__bar:nth-of-type(2) {
  transform: translateY(15px);
  margin: -6px;
  opacity: 0;
}

.menu-button.open-close .menu-button__bar:nth-of-type(3) {
  transform: translateY(20px) rotate(-45deg);
}