.project-featured__item {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: space(def);
  }
}

.project-feature__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: c-white();
}

.project-featured__description {
  max-width: 600px;
  margin-top: 2rem;
  font-size: fz(md);
}

.project-feature__image {
  position: relative;
}


.featured_category_project {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75px 0 75px 150px;
  border-color: transparent transparent transparent color-theme(primary, base);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;

  img{
    left: -9rem;
    top: -3rem;
    position: absolute;
  }
}

.project-feature__logo {

}