
.skills_slider__wrapper {
  padding-top: 2rem;
  background: c-black();
  position: relative;
  width: 100vw;
  box-shadow: 0 -26px 38px -12px rgba(0, 0, 0, 0.56), 0 -20px 25px -5px rgba(0, 0, 0, 0.12), 0 -15px 10px -5px rgba(0, 0, 0, 0.2);
}

 //   box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);




.skills_slider__wrapper:after {
  content: "";
  position: absolute;
  bottom: -2rem;
  background: c-black();
  right: 0;
  z-index: -11;
  transform: rotate(-1deg);
  width: 110%;
  height: 40%;
  border-radius: 8px;
}


.skill_slider__img {
  padding: 3rem;
  max-width: 100%;
  display:block;
  margin:auto;
  filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.56));
}