.slider__wrapper {
  display: block;
  position: relative;
  background-color: #111517;
  background-position: 50%;
  background-size: cover;
}

.slider__cover {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  flex-flow: row wrap;
  min-height: 560px;
}

.slider__hero {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 560px;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.slider__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 1;
}

.slider__content {
  align-self: center;
  padding-left: space(def);
  width: 100%;
  color: white;
  max-width: 100%;
  z-index: 9999;
}


.slider__title {
  line-height: 1;
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: transform 1s ease 0s, opacity 1s ease 0s;
  font-size: 3rem;
  font-weight: fw(bold);
  color: color-theme(contrast-color(white));
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
}



.slider__hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear,left top,right top,from(#000724),to(#212951));
  background: -o-linear-gradient(left,#000724 0%,#212951 100%);
  background: linear-gradient(90deg,#000724 0%,#212951 100%);
  opacity: .5;
}

.slider__separator {
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
  opacity: 1;
  transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 1s ease 0.3s, opacity 1s ease 0.3s;
  transition: transform 1s ease 0.3s, opacity 1s ease 0.3s;
  margin: 1.875rem auto;
  background-color: color-theme(primary,base);
  height: 4px;
  width: 40px;
  margin-left: 0.4rem;
}

.slider__subtitle {
  font-size: fz(md);
  font-weight: 300;
  line-height: 1.4;
  color: #fff;
  margin-right: 1rem;
}


.iframe-youtube {
  margin-top: -2vw;
  margin-left: 0;
  margin-top: -4vw;
  min-width: 1912px;
  max-width: 100%;
  min-height: 1075.5px;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.triangle-up {
  z-index: 9999;
  width: 10%;
  height: 0;
  /* padding-left: 10%; */
  /* padding-bottom: 10%; */
  position: absolute;
  /* bottom: 4rem; */
  /* right: 10rem; */
  bottom: 0;
  right: 13rem;
}
.triangle-up:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 9999;
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 300px solid c-black();
  transform: rotate(135deg);
  padding: 0;
  bottom: -3rem;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@include media-breakpoint-up(lg){
  .slider__content {
    max-width: 50%;
    padding-left: space(lg);
  }

  .slider__title {
    font-size: fz(xxl);
  }

  .slider__subtitle {
    font-size: fz(md);
  }
}