.user__data__wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.user__data {
  z-index: 9999;
  position: relative;
  padding: 0;
  top: -1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));

  img{
    width: 100%;
    max-width: 800px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
}

.rectangle {

  &:before {
    position: absolute;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    display: block;
    content: "";
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: rgba(14,178,84,0.1);
  }
}

