<div class="last-post__item">
    <div class="last-post__category img__shadow">
        <img src="https://www.lanzaderaonline.com/wp-content/uploads/2017/05/logo-prestashop.png" alt="" width="50px">
    </div>
    <a href="" title="{{ post.title }}">
        <img class="img__shadow img-responsive" src="{{ post.imageList }}" alt="">
        <div class="title__post">
            <h3 class="title title--lg title--secondary"> {{ post.title }}</h3>
        </div>
        <div class="text--color-inverse text--md" >{{ post.excerpt }}</div>
    </a>
</div>