<div>
    <div class="project-featured__item">
        <div class="project-feature__text">
            <div class="title__wrapper">
                <h2 class="title title--secondary title--lg">{{ project.name }}
                </h2>
            </div>
            <p class="project-featured__description">{{ project.shortDescription }}.</p>
            <div class="btn__wrapper">
                <div class="btn--primary">
                    <a>{{ 'view nwew' }}</a>
                    <div class="border__button"></div>
                    <div class="border__button"></div>
                </div>
            </div>
        </div>
        <div class="project-feature__image">
            <div class="featured_category_project img__shadow">
                <img src="{{ project.logo }}" alt="" width="100px">
            </div>
            <picture>
                <source srcset="{{ project.imageList }}" media="(min-width: 600px)">
                <img class="img-responsive img__shadow" src="{{ project.imageListPhone }}">
            </picture>
        </div>
    </div>
</div>