{% extends 'admin/admin.base.html.twig' %}

{% block title %} experience.update!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'create.project'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        {% include 'admin/project/_form/update.html.twig' %}
                    </div>
                </div>
            </div>
            {% if logo %}
            <div class="col-md-4">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'project.logo'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="skill__icon">
                            <img src="{{ logo }}" alt="" width="250px">
                        </div>
                    </div>
                </div>
                {% if imageFull %}

                    <div class="admin-card">
                        <div class="card-header card-header-primary">
                            <h4 class="cart-title">
                                {{ 'project.imageFull'| trans }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="skill__icon">
                                <img src="{{ imageFull }}" alt="" width="500px">
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if imageList %}

                    <div class="admin-card">
                        <div class="card-header card-header-primary">
                            <h4 class="cart-title">
                                {{ 'project.imageList'| trans }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="skill__icon">
                                <img src="{{ imageList }}" alt="" width="500px">
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if imageListPhone %}

                    <div class="admin-card">
                        <div class="card-header card-header-primary">
                            <h4 class="cart-title">
                                {{ 'project.imageListPhone'| trans }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="skill__icon">
                                <img src="{{ imageListPhone }}" alt="" width="500px">
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if file %}
                    <div class="admin-card">
                        <div class="card-header card-header-primary">
                            <h4 class="cart-title">
                                {{ 'project.file.downloadble'| trans }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="skill__icon">
                                <a href="{{ file }}" download>
                                    {% if buttonText %}{{buttonText}}{% else %}{{ 'view.file'|trans }}{% endif %}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
            {% endif %}
            {% if images %}
            <div class="col-md-12">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'project.file.images'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        {% for image in images %}
                            <div id="js-image-{{ image.id }}">
                                <img src="{{ image.thumbnail }}" alt="" width="250px;">
                                <a class="project-images__remove js-media-delete"
                                   data-image-id="{{ image.id }}"
                                   href="{{ path('remove_project_image_ajax') }}"
                                >
                                    {{ icon('trash', 14, '') }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}