.flash-group {
  position: fixed;
  right: space(def);
  z-index: 99999;

  top: space(lg);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flash{
  transform: translateX(1000%);

  display: flex;
  align-items: center;
  margin: space(def) 0;
  padding: space(def);

  font-size: fz(def);
  font-weight: fw(medium);

  color: #fff;
  border-radius: radius(def);
  box-shadow: 0 12px 22px c-black(.25);
  opacity: 0;
  transition: opacity 2s ease;
}


.flash.is-active{
  opacity: 1;
  transition: opacity .5s ease;
  animation: moveAlert 1s ease forwards;
}

@keyframes moveAlert {
  0%{ transform: translateY(-1000%); }
  100%{ transform: translateX(0); }
}

.flash--success {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
  background: linear-gradient(60deg, #288c6c, #4ea752);
}

.flash--error {
  background: linear-gradient(60deg, #d22824, #da3a36);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.flash--info {
  background: linear-gradient(60deg, #029eb1, #25b1c3);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.flash--warning {
  background: linear-gradient(60deg, #f5700c, #ff9800);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}


.flash.is-exit{
  animation: moveOut 2s ease forwards;
  opacity: 0;
  transition: opacity 3s ease;
}

@keyframes moveOut {
  0%{ transform: translateY(0); }
  100%{ transform: translateY(-1000%); }
}