.modal-advise {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-450%);
  padding: space(def);
  height: max-content;
  transition: all 1s ease-out;
  min-width: 300px;
  background: #1d2125;
  border-radius: 5%;
  z-index: 99999;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);


}

.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(60deg, #2a09381f, #342138eb);
  z-index: 1030;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;

}
.open-modal {
  overflow: hidden;

  .modal-advise {
    transform: translate(-50%, -50%);
  }

  .modal-background {
    visibility: visible;
    opacity: 1;
  }
}


.modal-advise__buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.open-modal__button {
  cursor: pointer;
}