.top-bar {
  position: absolute;
  width: 100%;
  z-index: 1029;
  border: 0;
  border-radius: 3px;
  padding: 0.625rem 0;
  height: auto !important;
  color: #fff;
  background-color: transparent !important;
  box-shadow: none;
  margin-bottom: 0;
  flex-flow: row nowrap;
  justify-content: flex-start;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
}

.menu__button {
  @include not-style-button();

  @include media(lg){
    display: none;
  }
}

.hide {
  display: none;
}

.top-bar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__name {
  width: 100%;
}

.top-bar_profile__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  img {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    border: 3px solid #7b1fa2;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.admin-container {
  padding: space(lg) space(sm);
  min-height: calc(100vh - 123px);
}

.skill__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    fill:#8b92a9;
    width: 75px;
    height: 75px;
  }
}

.actions_list {
  a {
    display: flex;
    align-items: center;
  }
  svg{
    fill:#8b92a9;
  }
  li {
    border-color: rgba(180, 180, 180, 0.1);
    vertical-align: middle;
    padding: 1rem;
    font-weight: 300;
    border-bottom: 2px solid rgba(133, 47, 160, 0.35);
  }
}