.sidebar {
  position: fixed;
  display: block;
  top: 0;
  height: 100vh;
  width: 260px;
  right: 0;
  left: auto;
  z-index: 1032;
  visibility: visible;
  overflow-y: scroll;
  border-top: none;
  text-align: left;
  padding-right: 0px;
  padding-left: space(xs);
  transform: translate3d(260px, 0, 0);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);

  @include media(lg) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    background: contrast-color(black);
    box-shadow: $box-shadow-normal;
    transform: translate3d(0, 0, 0);
  }
}

.open-sidebar {
  overflow: hidden;
  .sidebar {
    transform: translate3d(0, 0, 0);
    box-shadow: $box-shadow-normal;
  }

  .main-panel {
    left: 0;
    transform: translate3d(-260px, 0, 0);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}

.logo {
    padding: space(def) 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
    text-align: center;
}

.link-sidebar {
    text-transform: uppercase;
    padding: space(sm) 0;
    display: inline-block;
    font-size: fz(md);
    color: c-gray('gray');
    font-weight: fw(medium);
    text-align: center;
}

.nav-link {
  margin: 0 0 space(sm);
  border-radius: 3px;
  color: c-gray('gray');
  padding: space(xs);
  text-transform: capitalize;
  font-size: fz(mdp);
  transition: all 150ms ease-in, color, 0ms;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
}

.icon {
  display: inline-block;
  direction: ltr;
  margin-right: space(def);
  line-height: lh(def);
  text-align: center;
}

.nav-item.active {
    .nav-link {
      color: c-gray('lighter');
      background: color-theme(extra,hover-link);
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    }

}

/**** LLEVARSELO FUERA **/
.admin-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: black;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  font-size: .875rem;
}

.card-header {

  background: linear-gradient(60deg, #7b1fa2, #913f9e);
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  color: #fff;
  margin: 0px 15px 0;
}

.card-body {
  color: #8b92a9;
  padding: 0.9375rem 20px;
  position: relative;
}

.btn-primary {
  
}

.form__inputs {
  padding: 1rem;
  position: relative;

  div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }

  label {
    padding: 1rem;

    @include media(lg) {
      width: 30%;
    }
  }

  ul {
    position: absolute;
    bottom: 0;
    left: 20%;
  }

  input,textarea,select {
    width: 100%;
    padding: 0.5rem;
    background-color: #1d2125;
    color: white;
    border: none;
    border-bottom: 1px solid #fff;
    transition : border 500ms ease-out;
    &:hover,
    &:focus {

      border-bottom: 1px solid #7b1fa2;
      outline: none;
    }
  }
}


.form__button {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn--danger {
    background: linear-gradient(60deg, #d22824, #da3a36);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);

}

.btn--success {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
  background: linear-gradient(60deg, #288c6c, #4ea752);
}

.note-editable {
  height: 250px;
  width: 100%;
  padding: 0.5rem;
  background-color: white;
  color: white;
  border: none;
  border-bottom: 1px solid #fff;
  transition: border 500ms ease-out;
}

.note-btn {
  background: black;
  color: white;
}

.note-toolbar {
  background: #1d2125;
}

.skill_category-list__icon,
.skill_category-list__actions{
  svg {
    width: 25px;
    height: 25px;
    fill: #8b92a9;
  }
}

.admin-table {
  display: block;
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }

  th,td{
    color: #8b92a9;
    border-color: rgba(180, 180, 180, 0.1);
    padding: 12px 8px;
    vertical-align: middle;
    font-weight: 300;
    border-bottom: 2px solid rgba(133, 47, 160, 0.35);
    text-align: left;
  }
}