{% extends 'base.html.twig' %}


{% block title %} OSCAR SOFTWARE DEVELOPER{% endblock %}
{% block metaDescription %} Ingeniero Multimedia Alicante {% endblock %}
{% block slider %}
    {% include '_partials/slider/slider_blog.html.twig' %}
{% endblock %}
{% block body %}
    <div class="main-wrapper triangle__end--reverse">
        <div class="row blog-wrapper">
            <div class="blog-items">
        {% for post in query.result %}
            {% include '_partials/miniatures/post.html.twig' with {'post': post }  %}
        {% endfor %}
                {{ include('_partials/_pagination.html.twig', {query: query}) }}
        </div>
        <div class="blog-sidebar">
                <div class="blog-sidebar__item">
                    <div class="title__sidebar">
                        <h3 class="title title--lg title--secondary">Categorias</h3>
                    </div>
                    <div class="sidebar__list">
                        <ul class="sidebar__list">
                            {% for category in categoryWithPost %}
                                <li><a href="{{ path('blog_category_page',{'id': category.id, 'slug' : category.slug })  }}">{{ category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            <div class="blog-sidebar__item">
                <div class="title__sidebar">
                    <h3 class="title title--lg title--secondary">Ultimas Entradas</h3>
                </div>
                <div class="sidebar__list">
                    <ul class="sidebar__list">
                        {% for lastPost in lastPosts %}
                            <li>{{ lastPost.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}