{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="form__inputs">
    {{ form_row(form.title) }}
</div>
<div class="form__inputs">
    {{ form_row(form.subtitle) }}
</div>
<div class="form__inputs">
    {{ form_row(form.image) }}
</div>
<div class="form__inputs">
    {{ form_row(form.imageList) }}
</div>

<div class="form__inputs">
    {{ form_row(form.category) }}
</div>
<div class="form__inputs">
    {{ form_row(form.excerpt) }}
</div>
<div class="">
    {{ form_row(form.content) }}
</div>
<div class="form__inputs">
    {{ form_row(form.metaTitle) }}
</div>

<div class="form__inputs">
    {{ form_row(form.metaDescription) }}
</div>

<div class="form__button">
    <input class="btn-primary" type="submit" value="{{ 'form.create.blog.category.submit'|trans }}">
</div>
{{ form_end(form) }}