<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <link rel="stylesheet" href="/build/app.css">
        <meta name="description" content="{% block metaDescription %}Welmento{% endblock %}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include '_partials/menu.html.twig' %}
    {% include '_partials/navbar.html.twig' %}
        {% block slider %}
        {% endblock %}
        {% block body %}{% endblock %}
    {% include '_partials/footer.html.twig' %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
    </body>
</html>

