<div class="slider__wrapper">

    <div class="slider__cover">
        <div class="triangle-up">

            <div class="down__span">
                <a href="#">
                    <div id="mouse-scroll">
                        <div class="mouse">
                            <div class="mouse-in"></div>
                        </div>
                        <div>
                            <span class="down-arrow-1"></span>
                            <span class="down-arrow-2"></span>
                            <span class="down-arrow-3"></span>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="slider__hero">
            <img src="/uploads/blog.jpg" class="hero-slider__video iframe-youtube" style="">
            </img>
        </div>
        <div class="slider__content">
            <h1 class="slider__title">titulo</h1>
            <div class="slider__separator">
            </div>
            <div class="slider__subtitle">
                    subtitulo
            </div>
        </div>
    </div>
</div>
