<div class="flash-group">
    {% for type, messages in app.flashes(['success', 'error', 'warning', 'info']) %}
        {% for message in messages %}
            {# ToDo: añadir la class .is-active cuando se quiera mostrar la alerta #}
            <div class="flash flash--{{ type }} is-active">
                {# ToDo: añadir el icono de manera dinámica Ej. alert-error #}
                <span class="flash__icon">{{ icon( type, 32) }}</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
