<div class="modal-advise">
    <h3 id="js-modal-title" class="modal-advise__title">Would you like to get an extra tool?</h3>
    <p id="js-modal-description" class="modal-advise__title">This tool will help you in the building process of your LEGO</p>
    <div class="modal-advise__buttons">
        <button id="js-modal-discard" class="modal-discard btn-primary btn--danger">No</button>
        <a id="js-modal-accept" class="modal-accept btn-primary btn--success" href="">Aceptar</a>
    </div>
</div>

<div class="modal-background">

</div>