{% set routeName = app.request.get('_route') %}

<div id="sidebar" class="sidebar" data-color="purple">
    <div class="logo"><a href="{{ path('admin_panel') }}" class="link-sidebar logo-normal">
            Oscar Web
        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item {% if routeName == 'admin_panel' %} active {% endif %}">
                <a class="nav-link" href="{{ path('admin_panel')}} ">
                    {{ icon('house', 32, 'sidebar__icon') }}
                    <span class="nav-link__span">{{ 'home'|trans }}</span>
                </a>
            </li>
            <li class="nav-item {% if 'skill' in routeName %} active {% endif %}">
                <a class="nav-link" href="{{ path('skill_list')}} ">
                    {{ icon('skill', 32, 'sidebar__icon') }}
                    <span class="nav-link__span">{{ 'sidebar.skills'|trans }}</span>
                </a>
            </li>
            <li class="nav-item{% if 'experience' in routeName %} active {% endif %}">
                <a class="nav-link" href="{{ path('experience_list')}} ">
                    {{ icon('experience', 32, 'sidebar__icon') }}
                    <span class="nav-link__span">{{ 'sidebar.experience'|trans }}</span>
                </a>
            </li>
            <li class="nav-item {% if 'project' in routeName %} active {% endif %}">
                <a class="nav-link" href="{{ path('project_list')}} ">
                    {{ icon('project', 32, 'sidebar__icon') }}
                    <span class="nav-link__span">{{ 'sidebar.projects'|trans }}</span>
                </a>
            </li>
            <li class="nav-item{% if 'blog' in routeName %} active {% endif %}">
                <a class="nav-link" href="{{ path('blog_post_list')}} ">
                    {{ icon('blog', 32, 'sidebar__icon') }}
                    <span class="nav-link__span">{{ 'Blog'|trans }}</span>
                </a>
            </li>
            <li class="nav-item {% if 'slider_home' in routeName %} active {% endif %}">
                <a class="nav-link" href="{{ path('slider_home_list')}} ">
                    {{ icon('slider', 32, 'default-table__icon') }}
                    <span class="nav-link__span">{{ 'Slider'|trans }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>