<div class="top-bar">
    <div class="container-fluid">
        <div class="top-bar__wrapper">
            <div class="top-bar__name">
                <h1>{% block pageName %}
                        Inicio
                    {% endblock %}</h1>
            </div>
            <div class="top-bar_profile__wrapper">
                <a href="{{ path('user_update',{'id': app.user.user.id}) }}" title="{{ app.user.username }}" ><img src="{{ app.user.user.avatar }}"></a>
            </div>
            <div class="top-bar__toggle">
                <button id="js-open-menu" class="menu__button ">
                    <span class="js-menu-icon-open">{{ icon('menu', 32, 'default-table__icon') }}</span>
                    <span class="js-menu-icon-close hide">{{ icon('cross', 32, 'default-table__icon') }}</span>
                </button>
            </div>
        </div>
    </div>
</div>