{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
    </div>
<div class="form__inputs">
    {{ form_row(form.name) }}
</div>
<div class="form__inputs">
    {{ form_row(form.surname) }}
</div>
<div class="form__inputs">
    {{ form_row(form.phone) }}
</div>
<div class="form__inputs">
    {{ form_row(form.instagramLink) }}
</div>
<div class="form__inputs">
        {{ form_row(form.facebookLink) }}
</div>
<div class="form__inputs">
    {{ form_row(form.hackerRankLink) }}
</div>
<div class="form__inputs">
    {{ form_row(form.linkedinLink) }}
</div>
<div class="form__inputs">
    {{ form_row(form.codepenLink) }}
</div>
<div class="form__inputs">
    {{ form_row(form.githubLink) }}
</div>
<div class="form__inputs">
    {{ form_row(form.whatsappLink) }}
</div>
<div class="form__inputs">
    {{ form_row(form.shortDescription) }}
</div>
<div class="">
    {{ form_row(form.history) }}
</div>
<div class="form__inputs">
    {{ form_row(form.avatar) }}
</div>
        <div class="form__button">
            <input class="btn-primary" type="submit" value="{{ 'form.update_user.submit'|trans }}">
        </div>
{{ form_end(form) }}