{% extends 'admin/admin.base.html.twig' %}

{% block title %} skill.create!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'create.skill'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        {% include 'admin/skill/_form/create.html.twig' %}
                    </div>
                </div>
            </div>
            {% if image %}
                <div class="col-md-4">
                    <div class="admin-card">
                        <div class="card-header card-header-primary">
                            <h4 class="cart-title">
                                {{ 'skill.image'| trans }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <img src="{{ image }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}