{% extends 'admin/admin.base.html.twig' %}

{% block title %} post.update!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="admin-card">
                    <div class="card-header card-header-primary">
                        <h4 class="cart-title">
                            {{ 'update.post'| trans }}
                        </h4>
                    </div>
                    <div class="card-body">
                        {% include 'admin/blog/post/_form/update.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            {% if imageList %}
                    <div class="admin-card">
                        <div class="card-header card-header-primary">
                            <h4 class="cart-title">
                                {{ 'post.imageList'| trans }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="skill__icon">
                                <img src="{{ imageList }}" alt="" width="250px">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if imageFull %}

                        <div class="admin-card">
                            <div class="card-header card-header-primary">
                                <h4 class="cart-title">
                                    {{ 'post.imageFull'| trans }}
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="skill__icon">
                                    <img src="{{ imageFull }}" alt="" width="500px">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock %}