{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="form__inputs">
    {{ form_row(form.name) }}
</div>
<div class="form__inputs">
    {{ form_row(form.skillCategory) }}
</div>
<div class="form__inputs">
    {{ form_row(form.score) }}
</div>
<div class="form__inputs">
    {{ form_row(form.featured) }}
</div>

<div class="form__inputs">
    {{ form_row(form.image) }}
</div>
<div class="form__button">
    <input class="btn-primary" type="submit" value="{{ 'form.update.skill.submit'|trans }}">
</div>
{{ form_end(form) }}